{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1 class="display-2" style="text-align: center">About this site</h1>
    <br>
    <br>

    <div style="text-align: left">

    </ul>
    <br>
    <p class="lead">
        My Final Project helps people keep track of themselves, by allowing the user to jot down tasks that they will need to complete. Not only does it let the user add tasks, but it let the user keep track of their appointments, as well. With a wide range of tags for the user to mark their task as, Tick allows great User Experience, and has an amazing interface.
    </p>
    <p class="lead">
        No matter what the task, Tick's got your back!
    </p>

    <small class="text-muted">Your privacy is also important to Tick. This Website Uses cookies to give you good user experience. Your data is kept safe, and no-one can view your passwords.</small>

{% endblock %}
